// @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

@mixin hook-base-body() {
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
}

@mixin hook-button() {
  border-radius: 30px;
}

@mixin hook-button-misc() {
  .uk-button-primary-outline {
    border: solid 1px $global-primary-background;
    &:hover {
      background: $global-primary-background;
      color: #fff;
    }
  }
  .uk-button-medium {
    line-height: 44px;
    min-width: 140px;
  }
}
// @mixin hook-button-primary-hover() {
//   box-shadow: 0 14px 25px rgba($color: $global-primary-background, $alpha: 0.2);
// } 

@mixin hook-navbar-nav-item(){
  font-weight: 600;
  span {
    margin-left: 3px;
    margin-top: -2px;
  }
}




@mixin hook-utility-misc(){
  .uk-text-xsmall {
    font-size: 0.75rem;
  }
  .uk-text-spacing-small {
    letter-spacing: 0.03em;
  }
  // header.uk-section-muted {
  //   .uk-navbar-dropbar, .uk-navbar-dropdown {
  //     background: $global-muted-background;
  //   }
  // }
  
  .uk-margin-xsmall-top {
    margin-top: 6px
  }
  
  .uk-margin-m-top {
    margin-top: 26px;
  }
  
  .uk-overlay-light {
    background: rgba($color: $global-secondary-background, $alpha: 0.4);
  }
  
  .uk-play-icon:hover {
    opacity: 0.9;
  }
  
  @media (min-width: $breakpoint-medium) {
    .uk-card-left {
      .uk-card-image {
        padding-right: 40px;
      }
      .uk-card-content {
        padding-left: 40px;
      }
    }
    .uk-card-right {
      .uk-card-image {
        padding-left: 40px;
      }
      .uk-card-content {
        padding-right: 40px;
      }
    }
    section h2.uk-h1 {
      letter-spacing: -0.02em;
    }
  }
  
  @media (min-width: $breakpoint-large) {
    .uk-width-card {
      width: calc(50% + 100px);
    }
    .uk-card-left {
      .uk-card-image {
        padding-right: 90px;
      }
      .uk-card-content {
        padding-left: 90px;
      }
    }
    .uk-card-right {
      .uk-card-image {
        padding-left: 90px;
      }
      .uk-card-content {
        padding-right: 80px;
      }
    }
  }
  
  // .uk-section-default {
  //   position: relative;
  //   z-index: 1;
  // }
  // 
  // .uk-section-muted, .uk-section-primary, .uk-section-secondary {
  //   background-image: url(/images/section-shape-top.svg),url(/images/section-shape-bottom.svg);
  //   position: relative;
  //   z-index: 0;
  //   background-size: 1200px;
  //   background-repeat: repeat-x;
  //   background-position: center top, center bottom;
  //   margin: -2px 0;
  // }
  // 
  // header.uk-section-muted, header.uk-section-primary, header.uk-section-secondary {
  //   background-image: url(/images/section-shape-bottom.svg);
  //   background-position: center bottom;
  //   margin-top: 0;
  // }
  // 
  // footer.uk-section-secondary {
  //   background-image: url(/images/section-shape-top.svg);
  //   position: relative;
  //   z-index: 0;
  //   background-size: 1200px;
  //   background-repeat: repeat-x;
  //   background-position: center top, center bottom;
  //   margin-top: -1px;
  // }
  
  footer {
    a:hover {
      color: $global-primary-background !important;
    }
    color: #fff !important;
  }
  
  .uk-text-semi-bold {
    font-weight: 600;
  }
  .uk-border-rounded-medium {
    border-radius: $border-rounded-medium;
  }
  .uk-border-rounded-large {
    border-radius: $border-rounded-large;
  }
  .uk-border-rounded-large-top {
    border-radius: $border-rounded-large $border-rounded-large 0 0;
  }
  
  .uk-section-header {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  
  .uk-section-features.uk-section-muted {
    .uk-card {
      background: #fff;
    }
  }
  
  .uk-section-features.uk-section-default {
    .uk-card {
      background: $global-muted-background;
    }
  }  
  
  @media (min-width: $breakpoint-medium) {
    .uk-section-header {
      padding-top: 140px;
      padding-bottom: 170px;
    }
  }
  .uk-navbar-dropdown-grid>.uk-first-column {
    padding-right: 40px;
  }
  .uk-navbar-dropdown-grid>div:not(.uk-first-column)::before {
    left: 0;
  } 
  .uk-navbar-nav li a[aria-expanded="true"] svg {
    transform: rotate(-180deg);
  }
  .uk-navbar-nav li:hover svg {
    fill: $navbar-nav-item-hover-color;
  }
  .uk-navbar-nav li a[aria-expanded="true"] {}
  .uk-navbar-nav li a svg {
    transition: transform .3s;
    transform: rotate(0deg);
    transform-origin: center;
  } 
}
