$global-primary-background:               #2BB381;         
$global-secondary-background:             #283648;
$global-muted-background:                 #fafafa;
// $global-danger-background:                #f66470; 
// $global-warning-background:               #facd04;

$global-color:                            #000;

$global-font-family:                      'Mulish', sans-serif;

$base-heading-font-weight:                700;
$base-heading-color:                      $global-color;

$base-link-color:                         $global-primary-background;
// $base-link-text-decoration:                      none !default;
// $base-link-hover-color:                          $global-link-hover-color !default;
// $base-link-hover-text-decoration:                underline !default;


$button-text-transform: 									none;