$global-primary-background:               #2BB381;         
$global-secondary-background:             #283648;
$global-muted-background:                 #fafafa;
// $global-danger-background:                #f66470; 
// $global-warning-background:               #facd04;

$global-color:                            #000;

$global-font-family:                      'Mulish', sans-serif;
$global-2xlarge-font-size:								2.25rem;

$base-heading-font-weight:                700;
$base-heading-color:                      $global-color;

$base-link-color:                         $global-primary-background;

// $base-h1-font-size-m:                            $global-2xlarge-font-size !default;
// $base-h1-font-size:                              $base-h1-font-size-m * 0.85 !default;
// $base-h1-line-height:                            1.2 !default;
// $base-h2-font-size-m:                            $global-xlarge-font-size !default;
// $base-h2-font-size:                              $base-h2-font-size-m * 0.85 !default;
// $base-h2-line-height:                            1.3 !default;
// $base-h3-font-size:                              $global-large-font-size !default;
// $base-h3-line-height:                            1.4 !default;
// $base-h4-font-size:                              $global-medium-font-size !default;
// $base-h4-line-height:                            1.4 !default;
// $base-h5-font-size:                              $global-font-size !default;
// $base-h5-line-height:                            1.4 !default;
// $base-h6-font-size:                              $global-small-font-size !default;
// $base-h6-line-height:                            1.4 !default;

// $base-link-text-decoration:                      none !default;
// $base-link-hover-color:                          $global-link-hover-color !default;
// $base-link-hover-text-decoration:                underline !default;


$button-text-transform: 									none;

$navbar-background:                       transparent;
$navbar-nav-item-color:                   $global-color;
$navbar-nav-item-font-size:               0.9375rem;
// $navbar-nav-item-font-family:                    $global-font-family !default;
$navbar-nav-item-hover-color:             $global-primary-background;
// $navbar-nav-item-onclick-color:                  $global-emphasis-color !default;
$navbar-nav-item-active-color:            $global-color;
$navbar-dropdown-nav-item-color:          $global-color;
$navbar-dropdown-nav-item-hover-color:    $global-primary-background;



$text-lead-font-size:                     1.25rem;
$text-lead-line-height:                   1.65;
// $text-lead-color:                                $global-emphasis-color !default;

// $text-meta-font-size:                            $global-small-font-size !default;
// $text-meta-line-height:                          1.4 !default;
// $text-meta-color:                                $global-muted-color !default;
// 
// $text-small-font-size:                           $global-small-font-size !default;
// $text-small-line-height:                         1.5 !default;

// $text-large-font-size:                           $global-large-font-size !default;
// $text-large-line-height:                         1.5 !default;

$border-rounded-medium:										8px;
$border-rounded-large:										16px;