$global-primary-background:               #2BB381;         
$global-secondary-background:             #283648;
$global-muted-background:                 #f6f6f6;
// $global-danger-background:                #f66470; 
// $global-warning-background:               #facd04;

$global-color:                            #000;

$global-font-family:                      'Mulish', sans-serif;
// $global-2xlarge-font-size:								2.25rem;

$global-muted-color:											#8b8e93;
$inverse-global-color:										#fff;
// $inverse-global-muted-color

$global-control-height:										50px;

$base-em-color: 													inherit;

$base-heading-font-weight:                700;
$base-heading-color:                      $global-color;

$base-link-color:                         $global-primary-background;
$base-link-hover-color:                         $global-primary-background;

// $base-h1-font-size-m:                            $global-2xlarge-font-size !default;
// $base-h1-font-size:                              $base-h1-font-size-m * 0.85 !default;
// $base-h1-line-height:                            1.2 !default;
// $base-h2-font-size-m:                            $global-xlarge-font-size !default;
// $base-h2-font-size:                              $base-h2-font-size-m * 0.85 !default;
// $base-h2-line-height:                            1.3 !default;
// $base-h3-font-size:                              $global-large-font-size !default;
// $base-h3-line-height:                            1.4 !default;
// $base-h4-font-size:                              $global-medium-font-size !default;
// $base-h4-line-height:                            1.4 !default;
// $base-h5-font-size:                              $global-font-size !default;
// $base-h5-line-height:                            1.4 !default;
// $base-h6-font-size:                              $global-small-font-size !default;
// $base-h6-line-height:                            1.4 !default;

// $base-link-text-decoration:                      none !default;
// $base-link-hover-color:                          $global-link-hover-color !default;
// $base-link-hover-text-decoration:                underline !default;

$article-meta-font-size:                  0.75rem;

$button-text-transform: 									none;
$button-font-size:												1rem;

$card-body-padding-horizontal-l:          35px;
$card-body-padding-vertical-l:            35px;

$dropdown-nav-item-color:									$global-color;
$dropdown-nav-item-hover-color:           $global-primary-background;


$nav-default-font-size: 									0.9375rem;
$nav-default-item-color:                         $global-color;
$nav-default-item-hover-color:                   $global-primary-background;
$nav-default-item-active-color:                  $global-primary-background;
$nav-default-sublist-item-color:                 $global-color;
$nav-default-sublist-item-hover-color:           $global-primary-background;
$nav-default-sublist-item-active-color:          $global-primary-background;



$nav-primary-item-font-size:							1.75rem;
$nav-primary-item-color:                  $global-color;
$nav-primary-item-hover-color:            $global-primary-background;
$nav-primary-item-active-color:           $global-color;
$nav-primary-sublist-item-color:          $global-color;
$nav-primary-sublist-item-hover-color:    $global-primary-background;
// $nav-primary-sublist-item-active-color:   $global-color;


$navbar-background:                       transparent;
$navbar-nav-item-color:                   $global-color;
$navbar-nav-item-font-size:               0.9375rem;
// $navbar-nav-item-font-family:                    $global-font-family !default;
$navbar-nav-item-hover-color:             $global-primary-background;
$navbar-nav-item-height:                  90px;
$navbar-nav-item-onclick-color:						$global-primary-background;

$inverse-navbar-nav-item-color:           $inverse-global-color;
$inverse-navbar-nav-item-hover-color:     $inverse-global-color;
// $inverse-navbar-nav-item-onclick-color:         $inverse-global-emphasis-color !default;
// $inverse-navbar-nav-item-active-color:          $inverse-global-emphasis-colØnavbor !default;
// $inverse-navbar-item-color:                     $inverse-global-color !default;
$navbar-toggle-color:             				$global-color;
$navbar-toggle-hover-color:       				$global-primary-background;

// $navbar-nav-item-onclick-color:                  $global-emphasis-color !default;
$navbar-nav-item-active-color:            $global-primary-background;
$navbar-dropdown-nav-item-color:          $global-color;
$navbar-dropdown-nav-item-hover-color:    $global-primary-background;
$navbar-dropdown-nav-item-active-color:   $global-primary-background;

// $section-large-padding-vertical:                   $global-large-margin !default;
$section-large-padding-vertical-m:        130px;
$section-padding-vertical-m:							90px;
// $section-xlarge-padding-vertical:                  $global-xlarge-margin !default;
$section-xlarge-padding-vertical-m:       200px;

$subnav-item-color:                       $global-color;
$subnav-item-hover-color:                 $global-primary-background;


$text-lead-font-size:                     1.3125rem;
$text-lead-line-height:                   1.65;
// $text-lead-color:                                $global-emphasis-color !default;

// $text-meta-font-size:                            $global-small-font-size !default;
// $text-meta-line-height:                          1.4 !default;
// $text-meta-color:                                $global-muted-color !default;
// 
// $text-small-font-size:                           $global-small-font-size !default;
// $text-small-line-height:                         1.5 !default;

// $text-large-font-size:                           $global-large-font-size !default;
// $text-large-line-height:                         1.5 !default;

$border-rounded-medium:										8px;
$border-rounded-large:										16px;

$totop-color:                                    $global-color;
$totop-hover-color:                              $global-primary-background;
