<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
  {{ if or .Site.Params.banner.en.text .Site.Params.banner.de.text }}
    <div class="uk-alert-danger uk-text-center uk-margin-remove" uk-alert>
      <p>{{ index .Site.Params.banner site.Language.Lang "text" }}</p>
    </div>
  {{ end }}
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
  {{ partial "mobile.html" . }}
  {{ if .Site.Params.gtm_id}}<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ .Site.Params.gtm_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>{{ end }}
</body>

</html>