{{ define "main" }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/lunr.min.js"></script>
<div class="uk-section">
	<div class="uk-container">
		<h2 class="uk-h1 uk-margin-remove uk-text-semi-bold uk-text-capitalize">
			{{ if eq .Type "author" }}
			{{ $user := where .Site.Data.authors "username" .Title }}
			{{ index $user 0 "name" }}
			{{ else }}
			{{ if eq (i18n .Title) "" }}
			{{ replace .Title "$" "" }}
			{{else}}
			{{ i18n .Title}}
			{{end}}
			{{ end }}
		</h2>
		<div class="uk-margin-top" data-uk-grid>
			<div class="uk-width-expand@m uk-flex uk-flex-middle">
				<ul class="uk-subnav">

					{{if eq .Title "Blog" }}
					<li>
						<a class="uk-text-bold" href="{{ " /blog/" | relLangURL }}">{{ i18n "all_posts" }}</a>
					</li>
					{{else if eq .Title "References"}}
					<li>
						<a class="uk-text-bold" href="{{ " /references/" | relLangURL }}">All posts</a>
					</li>
					{{else}}
					<li>
						<a class="uk-text-bold" href="#" onclick="window.location.href = document.referrer">All
							posts</a>
					</li>
					{{end}}

					{{if eq .Title "Blog"}}
					{{range (.Site.GetPage "taxonomyTerm" "categories").Pages }}
					{{if in .LinkTitle "$"}}
					{{else}}
					<li><a class="uk-text-bold" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
					{{end}}
					{{end}}
					{{end}}

					{{ if eq .Title "References"}}
					{{range (.Site.GetPage "taxonomyTerm" "categories").Pages }}
					{{if in .LinkTitle "$"}}
					<li><a class="uk-text-bold" href="{{ replace .Permalink " fields" "categories" }}">{{ replace
							.LinkTitle "$" "" }}</a></li>
					{{end}}
					{{end}}
					{{ end }}
			</div>
			<div class="uk-width-1-3@m">
				<div class="uk-position-relative">
					<div class="uk-search uk-search-default uk-width-1-1">
						<!-- Hide when we have categories in the url -->

						{{if eq .Title "Blog" }}
						<span uk-search-icon></span>
						<input class="uk-search-input uk-border-pill" type="search" id="search-input"
							placeholder="{{if eq .Title " Blog" }}{{ i18n "search_placeholder_blog" }}{{ else }}{{
							i18n "search_placeholder_references" }}{{ end}}" autocomplete="off" />
						{{end}}

						{{if eq .Title "References" }}
						<span uk-search-icon></span>
						<input class="uk-search-input uk-border-pill" type="search" id="search-input"
							placeholder="{{if eq .Title " Blog" }}{{ i18n "search_placeholder_blog" }}{{ else }}{{
							i18n "search_placeholder_references" }}{{ end}}" autocomplete="off" />
						{{end}}
					</div>
					<ul class="uk-list uk-list-search uk-position-absolute uk-width-1-1" id="results-container"></ul>
				</div>
			</div>
		</div>

		<script>
			let searchable_array = [];
			let page_lang = window.location.href.split("/").includes("en") ? "en" : "de";

			// First retrieve the index file
			$.getJSON("/js/lunr/PagesIndex.json")
				.done(function (index) {
					searchable_array = index;
					console.log("searchable_array:", searchable_array);
				})

			function searchContent(searchTerm) {
				var results = [];
				searchTerm = searchTerm.toLowerCase();
				searchable_array.forEach(function (item) {
					// check for the en or de in the url of the page
					// and get the results based on the language
					if (item?.title.toLowerCase().includes(searchTerm) || item?.content.includes(searchTerm)) {
						// check the results is in the blog path or references path
						// and get the results based on the path
						if (window.location.href.includes("blog") && !item?.href.includes("posts")) {
							return;
						} else if (window.location.href.includes("references") && !item?.href.includes("references")) {
							return;
						}
						if (document.title.toString().includes("$") && !item?.href.includes("references")) {
							return;
						}
						// check the results is in the en or de language
						if (page_lang === item.lang) {
							results.push(item);
						}
					}
				});
				return results;
			}

			// Add this event listener inside the $(document).ready() function
			$('#search-input').on('keyup', function () {
				let searchTerm = $(this).val();
				if (searchTerm) {
					let results = searchContent(searchTerm);
					displayResults(results);
				} else {
					clearResults();
				}
			});

			// Add these two new functions to display and clear the search results
			function displayResults(results) {
				let resultsContainer = $('#results-container');
				resultsContainer.empty();
				results.forEach(function (item) {
					let result = $('<li>');
					let link = item.href.includes("posts") ? "../posts/" + item.href.split("posts/")[1].replaceAll("/blog/", "") : item.href.split("references/")[1].replaceAll("/blog/", "")
					result.append($('<a>', { href: link, text: item.title }));
					resultsContainer.append(result);
				});
			}

			function clearResults() {
				$('#results-container').empty();
			}
		</script>

		<div class="uk-child-width-1-2@s uk-child-width-1-3@l uk-grid-match uk-margin-medium-top uk-flex uk-flex-center uk-flex-left@s uk-block-posts-grid uk-position-relative"
			data-uk-grid>
			{{ range (.Paginator 9).Pages }}
			<div>{{ partial "card-post.html" . }}</div>
			{{ end }}
		</div>
		<div class="uk-flex uk-flex-center uk-margin-large-top">
			{{ template "_internal/pagination.html" . }}
		</div>
	</div>
</div>
{{ end }}