<div class="card-news">
  <div class="">
    <a class="" href="{{.Permalink}}"><img src="{{ .Params.image | absURL }}" alt="{{ .Title }}"></a>
  </div>
  <div class="meta">{{ .PublishDate.Format "January 2006" }}
    <span class="ms-3">Categories: </span>
    {{ range .Params.categories }}
      <span class="ms-1">{{ . }}</span>
    {{ end }}
  </div>
  <h4><a href="{{.Permalink}}">{{ .Title }}</a></h4>
  <div class="card-intro">{{ .Params.intro_paragraph | truncate 135 }}</div>
  <a class="btn btn-primary" href="{{ .Permalink }}" role="button">Read more<span></span></a>
</div>
