<footer class="uk-section-large uk-section-secondary">
  <div class="uk-container">

    <div class="uk-flex uk-flex-center uk-grid-large" data-uk-grid>
      <div class="uk-width-1-2 uk-width-expand@m">
        <h4>{{ i18n "footer_links" }}</h4>
        <ul class="uk-nav uk-text-size-m">
          {{ range .Site.Menus.footer }}
          <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="uk-width-1-2 uk-width-expand@m uk-text-size-m">
        <h4>{{ i18n "footer_info" }}</h4>
        {{ with .Site.Params.phone }}
          <div>{{ . }}</div>
        {{ end }}
        {{ with .Site.Params.email }}
          <div class="uk-margin-small-top">{{ . }}</div>
        {{ end }}
        {{ with .Site.Params.address }}
          <div class="uk-margin-small-top">{{ . }}</div>
        {{ end }}
      </div>
      <div class="uk-width-1-2 uk-width-expand@m uk-flex-first@m uk-text-center uk-text-left@m">
        <a class="uk-logo" href="{{ "/" | relLangURL }}">
          {{ if .Site.Params.site_logo_light }}
            <img src="{{ .Site.Params.site_logo_light | absURL }}" class="uk-logo-inverse" alt="{{ $.Site.Title }}" width="170">        
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        </a>
        <div class="uk-margin-top uk-text-small">{{ i18n "copyright" }}</div>
        <div class="uk-margin-top uk-flex uk-flex-center uk-flex-left@m">
          <div class="uk-child-width-auto uk-grid-small" data-uk-grid>
            {{ range .Site.Menus.social -}}
              <div><a href="{{ .URL | absURL }}" target="_blank" data-uk-icon="icon: {{ .Params.icon }}"></a></div>
            {{ end -}}
          </div>
        </div>
      </div>
    </div>
    
  </div>
</footer>