<header class="uk-section-{{ .Params.header.background }}">
  {{ partial "navbar.html" . }}

  {{ if and (.Params.header.layout) (not (eq .Params.header.layout "none")) }}
    {{ if eq .Params.header.layout "video" }}
      <section class="video-scn">
        <img src="/images/index/video.png" alt="Video">
          <video poster="/images/index/video.png" autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto" class="videoplay">
      <source src="/video/technical-demo.mp4" type="video/mp4">
      </video>
    {{ else }}
      <div class="{{ if or (eq .Params.header.layout "left") (eq .Params.header.layout "full") }}uk-section-large{{ else }}uk-section-large{{ end }} uk-background-cover uk-position-relative uk-background-cover uk-background-center-right" 
        {{ if .Params.header.background_image }} style="background-image: url({{ .Params.header.background_image |absURL }});"{{ end }}>
        {{ if .Params.header.background_image }}
          <div class="uk-overlay-primary uk-position-cover"></div>
        {{ end }}
        <div class="uk-container{{ if eq .Params.header.layout "center" }} uk-container-xsmall{{ end }} uk-position-relative">
          {{ if eq .Params.header.layout "left" }}
            <div class="uk-grid-large" data-uk-grid>
              <div class="{{ if .Params.header.image }}uk-width-expand@m{{ else }}uk-width-2-3@m{{ end }} uk-flex uk-flex-middle" data-uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 100">
                <div>
                  <div class="{{ if .Params.header.background_image }}uk-light{{ end }}">
                    {{ with .Params.header.heading }}
                      <h1 class="uk-heading-small uk-margin-remove">{{ . }}</h1>
                    {{ end }}
                    {{ with .Params.header.text }}
                      <div class="uk-text-lead uk-margin-top">{{ . }}</div>
                    {{ end }}
                  </div>
                  {{ if .Params.header.button.url }}
                  <div class="uk-margin-medium-top">
                    <a href="{{ .Params.header.button.url | relURL }}" class="uk-button uk-button-medium uk-button-primary">{{ .Params.header.button.text }}</a>
                  </div>
                  {{ end }}
                </div>          
              </div>
              {{ if .Params.header.image }}
                <div class="uk-width-1-2@m uk-width-auto@l uk-flex uk-flex-middle" data-uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 100">
                  <img class="uk-box-shadow-xlarge" src="{{ .Params.header.image | absURL }}" alt="{{ .Params.header.heading }}" width="700">
                </div>
              {{ end }}
            </div>
          {{ else if eq .Params.header.layout "center" }}
            <div class="uk-text-center{{ if .Params.header.background_image }} uk-light{{ end }}">
              {{ with .Params.header.subheading }}
                <div class="uk-text-primary uk-text-uppercase uk-text-medium uk-margin-small-bottom">{{ . }}</div>
              {{ end }}
              {{ with .Params.header.heading }}
                <h1 class="uk-heading-small uk-margin-remove">{{ . }}</h1>
              {{ end }}
              {{ with .Params.header.text }}
                <div class="uk-text-lead uk-margin-top">{{ . }}</div>
              {{ end }}
              {{ if or .Params.header.button.url .Params.header.button.url }}
              <div class="uk-child-width-auto uk-flex uk-flex-middle uk-margin-s-top" data-uk-grid>
                  <div><a href="{{ .Params.header.button.url | relURL }}" class="uk-button uk-button-{{ .Params.header.button.style }}">{{ .Params.header.button.text }}</a></div>
                  <div><a href="{{ .Params.header.button_secondary.url | relURL }}" class="uk-button uk-button-medium uk-button-{{ .Params.header.button_secondary.style }}">{{ .Params.header.button_secondary.text }}</a></div>
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>

    {{ end }}
  {{ end }}
</header>