<nav class="uk-navbar-container">
  <div class="uk-container">
    <div class="parent" data-uk-navbar uk-navbar="dropbar: true; mode: click">
      <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="{{ "/" | relLangURL }}">
          {{ if .Site.Params.site_logo }}
            <img src="{{ .Site.Params.site_logo | absURL }}" alt="{{ $.Site.Title }}" width="170">
            <img src="{{ .Site.Params.site_logo_light | absURL }}" class="uk-logo-inverse" alt="{{ $.Site.Title }}" width="170">        
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        </a>

      </div>

      <div class="uk-navbar-center">

        <ul class="uk-navbar-nav uk-visible@l">
          {{- $current := . -}}
          {{ range .Site.Menus.center -}}
            {{ $active := in $current.RelPermalink .URL }}
            {{ if .HasChildren }}
              {{ $active := in $current.RelPermalink .URL }}
              <li>
                <a href="#">{{ .Name }}<span>{{ readFile "assets/images/dropdown.svg" | safeHTML }}</span></a>
                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2 uk-padding-remove-horizontal" data-uk-drop="boundary: .parent; boundary-align: true; pos: bottom-justify; mode: click">
                  <div class="uk-navbar-dropdown-grid uk-child-width-1-2 uk-margin-bottom" uk-grid>
                    <div>
                      <h4>{{ .Params.heading }}</h4>
                      <div class="uk-text-muted">{{ .Params.text }}</div>
                    </div>
                    <div>
                      <ul class="uk-nav uk-navbar-dropdown-nav uk-text-bold">
                        {{ range .Children }}
                          {{ $active_child := in $current.RelPermalink .URL }}
                          {{ if eq .Name "divider" }}
                            <li class="uk-nav-divider"></li>
                          {{ else }}
                            <li{{ if $active_child }} class="uk-active"{{ end }}><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                          {{ end }}
                        {{ end }}
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            {{ else }}
              {{ if .Params.button }}
                <li>
                  <div class="uk-navbar-item">
                    <a class="uk-button uk-button-{{ .Params.button }}" href="{{ .URL | absURL }}">{{ .Name }}</a>
                  </div>
                </li>
              {{ else }}
                <li{{ if $active }} class="uk-active"{{ end }}><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>
      
      </div>
      <div class="uk-navbar-right">
        
        {{ if .IsTranslated }}
          <ul class="uk-navbar-nav uk-text-uppercase">
            {{ range .Translations }}
              {{ $file := (printf "%s%s%s" "images/" .Lang ".png" ) }}
              {{ $icon := resources.Get $file }}
              <li>
                <a href="{{ .RelPermalink }}"><img src="{{ $icon.Permalink }}" class="uk-lang-icon">{{ .Lang }}</a>
              </li>
            {{ end}}
            </ul>
        {{ end }}
        
        <ul class="uk-navbar-nav uk-visible@l">
          {{- $current := . -}}
          {{ range .Site.Menus.right -}}
            {{ $active := in $current.RelPermalink .URL }}
            {{ if .HasChildren }}
              {{ $active := in $current.RelPermalink .URL }}
              <li>
                {{- $dropdown := resources.Get "images/dropdown.svg" -}}
                <a href="#">{{ .Name }}<span><img src="{{ $dropdown.Permalink }}" alt="Arrow" height="5" width="8" /></span></a>
                <div class="uk-navbar-dropdown" data-uk-dropdown="mode: click">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    {{ range .Children }}
                      {{ if eq .Name "divider" }}
                        <li class="uk-nav-divider"></li>
                      {{ else }}
                        <li{{ if $active }} class="uk-active"{{ end }}><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                      {{ end }}
                    {{ end }}
                  </ul>
                </div>
              </li>
            {{ else }}
              {{ if .Params.button }}
                <li>
                  <div class="uk-navbar-item">
                    <a class="uk-button uk-button-{{ .Params.button }}" href="{{ .URL | absURL }}">{{ .Name }}</a>
                  </div>
                </li>
              {{ else }}
                <li{{ if $active }} class="uk-active"{{ end }}><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>

        <a class="uk-navbar-toggle uk-hidden@l" href="#mobile" aria-label="Mobile Navigation" data-uk-toggle uk-navbar-toggle-icon="ratio: 1.4"></a>

      </div>
    </div>
  </div>
</nav>