{{ define "main" }}

{{ if .Params.sections }}
{{ range ( sort (.Params.sections) ".order" "ace") }}
{{ $order := .order }}
{{ with .plan_section }}
<section class='mit-uns-scn {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}' {{if
  eq $order 1 }}id="next_section" {{end}}>
  <div class="uk-container">
    <div class="mit-uns-inner">
      <div class="mit-uns-left" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
        <h2>{{ .title }}</h2>
        <p>{{ .description }}</p>
        {{ with .button }}
        <a href="{{ .url }}" class="le-btn">{{ .label }}</a>
        {{ end }}
      </div>
      <div class="mit-uns-right" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
        <img src="{{ .img }}" alt="{{ .title }}">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ with .brand_slider }}
<section {{if eq $order 1 }}id="next_section" {{end}}
  class='brands-scn {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}'
  data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
  <!-- <div class="uk-container"> -->
    <div class="brandslider">
      {{ range .slider_img }}
      <div class="b-item">
        <div class="b-item-inner">
          <img src="{{ .logo | absURL }}" alt="">
        </div>
      </div>
      {{ end }}
    </div>
  <!-- </div> -->
</section>
{{ end }}
{{ with .planing_section }}
<section class='planing-scn {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}' {{if
  eq $order 1 }}id="next_section" {{end}}>
  <div class="uk-container">
    <h2 class="uk-h1" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">{{ .title }}</h2>
    <div class="planing-inner">
      {{ range .planing_items }}
      <div class="planing-item" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
        <div class="planing-icon">
          <img data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 1000" class="planing-icon-back" src="{{ .iconBack }}" alt="{{.title}}">
          <img data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 500" class="planing-icon-front" src="{{ .icon }}" alt="{{.title}}">
        </div>
        <div class="planing-cont">
          <h4>{{ .title }}</h4>
          <p>{{ .text }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ with .action_section }}
<section class='discover-scn {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}' {{if
  eq $order 1 }}id="next_section" {{end}}>
  <div class='discover-scn {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}'>
    <h2 class="uk-h1" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">{{.heading}}</h2>
    <div class="discover-list discover-slider">
      {{ range .slider_item }}
      <div class="discover-item">
        <div class="discover-item-inner" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
          <div style="padding:56.25% 0 0;position:relative"><iframe class="lazy"
              sandbox="allow-same-origin allow-scripts allow-popups" src="{{ .videoURL | absURL }}" loading="lazy"
              title="Coffee Collective" frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen="" data-ll-status="loaded"></iframe></div>
          <div class="discover-cont">
            <div class="discover-txt">
              <h5>{{.title}}</h5>
              <p>{{.sub_title}}</p>
            </div>
            {{ with .button }}
            <div class="btn learnmore-btn"><a href="{{.url | absURL }}">{{.label}}</a></div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="uk-container">
    <div class="discover-icons">
      {{ range .action_list_item }}
      <div class="discover-icon-item" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
        <div class="d-item-inner">
          <div class="d-icon">
            <img src="{{ .icon }}" alt="{{.title}}" />
          </div>
          <span class="d-item-txt">{{ .title }}</span>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ with .smart_tools_section }}
<section class='smart-tools-scn {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}'
  {{if eq $order 1 }}id="next_section" {{end}}>
  <div class="uk-container">
    <h2 class="uk-h1">{{ .title }}</h2>
    <div class="smart-tools-list">
      {{ range .action_items }}
      <div class="smart-tools-item">
        <div class="smart-tools-inner">
          <div class="smart-tools-img" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
            <img src="{{.img | absURL}}" alt="{{ .name }}">
            <span class="smart-tools-title">{{ .name }}</span>
          </div>
          <div class="smart-tools-cont" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
            <h4>{{.title}}</h4>
            <p>{{.description}}</p>
            {{ with .button }}
            <a href="{{.url | absURL }}"
              class='cnt-btn {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}'>{{
              .label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ with .contact_section }}
<section class='interested-scn {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}'
  {{if eq $order 1 }}id="next_section" {{end}}>
  <div class="uk-contaner">
    <div data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
      {{.title}} <a href="{{.button.url | relURL }}">{{.button.label}}</a>
    </div>
  </div>
</section>
{{ end }}
{{ with .blog_section }}
<section class="news-scn" {{if eq $order 1 }}id="next_section" {{end}}>
  <div class="uk-container">
    <h2 class="uk-h1" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">Neuigkeiten</h2>
    <div class="news-list" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
      <div class="uk-child-width-1-2@s uk-child-width-1-3@l uk-grid-match uk-margin-medium-top uk-flex uk-flex-center"
        data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200">
        {{ $posts := where site.RegularPages "Section" "posts" }}
        {{ range first 3 (where $posts ".Params.featured" "!=" true) }}
        <div>{{ partial "card-post.html" . }}</div>
        {{ end }}
      </div>
    </div>
    <div class="uk-column-1-2@s uk-margin-large-top"
      data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
      <div class="twitter-feed">
        <a data-tweet-limit="2" class="twitter-timeline"
          href="https://twitter.com/plan4better?ref_src=twsrc%5Etfw">Tweets by plan4better</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="linked-in-feed">
        <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6902248136526675968" height="602"
          width="100%" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ with .development_goals_section}}
<section
  class='development_goals_section uk-section-large uk-section- {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}'
  {{if eq $order 1 }}id="next_section" {{end}}>
  <div class="uk-container uk-container-small uk-text-center">
    <div class="uk-text-center uk-margin-medium-bottom uk-flex-center uk-flex"
      data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
      <div class=uk-width-3-4@m>
        <h2 class="uk-h1 uk-margin-remove">{{ .heading }}</h2>
        <div class="uk-text-lead uk-margin-top">{{.text}}</div>
      </div>
    </div>
    <div
      class="uk-child-width-1-3 uk-child-width-1-5@m uk-flex uk-flex-center uk-flex-middle uk-grid-large uk-margin-large-top"
      data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200">
      {{ range .items }}
      <div class=uk-text-center><a href="{{.url | relURL}}"><img src={{.logo}} alt=Logo></a></div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ with .award_section}}
<section
  class='award_section uk-section-large uk-section- {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}'
  {{if eq $order 1 }}id="next_section" {{end}}>
  <div class="uk-container uk-container-small uk-text-center">
    <div class="uk-text-center uk-margin-medium-bottom uk-flex-center uk-flex"
      data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
      <div class=uk-width-3-4@m>
        <h2 class="uk-h1 uk-margin-remove">{{ .heading}}</h2>
      </div>
    </div>
    <div
      class="uk-child-width-1-3 uk-child-width-1-5@m uk-flex uk-flex-center uk-flex-middle uk-grid-large uk-margin-large-top"
      data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200">
      {{ range .items }}
      <div class=uk-text-center><a href="{{.url | absURL}}" target=_blank><img src={{.logo}} alt=Logo></a></div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ with .funded_section }}
<section
  class='funded_section uk-section-large uk-section-default {{ if ne .background_color_content "default"}}{{.background_color_content}}{{ end }}'
  {{if eq $order 1 }}id="next_section" {{end}}>
  <div class="uk-container uk-container-small uk-text-center">
    <div class="uk-text-center uk-margin-medium-bottom uk-flex-center uk-flex"
      data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
      <div class=uk-width-3-4@m>
        <h2 class="uk-h1 uk-margin-remove">{{ .heading }}</h2>
        <div class="uk-text-lead uk-margin-top">{{.text}}</div>
      </div>
    </div>
    <div
      class="uk-child-width-1-3 uk-child-width-1-5@m uk-flex uk-flex-center uk-flex-middle uk-grid-large uk-margin-large-top"
      data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200">
      {{ range .items }}
      <div class=uk-text-center>
        {{ with .text }}
        <div class="uk-text-xsmall uk-margin-small-bottom">{{.}}</div>
        {{ end }}
        <img src={{.logo}} alt=Logo>
        {{ with .text }}
        <div class="uk-text-xsmall uk-margin-small-top">{{.}}</div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}

{{ end }}