<section class="uk-position-relative">
	<div class="uk-position-cover uk-grid-collapse uk-visible@m" data-uk-grid>
		<div class="uk-width-1-2 uk-width-card uk-background-{{ .background }} uk-background-cover" style="background-image: url({{ .background_image | absURL }})"></div>
		<div class="uk-width-expand{{ if eq .layout "right" }} uk-flex-first{{ end }}"></div>
	</div>
	<div class="uk-section-large uk-position-relative">
		<div class="uk-container">
			<div class="uk-grid-collapse{{ if eq .layout "left" }} uk-card-left{{ else }} uk-card-right{{ end }}" data-uk-grid>
				<div class="uk-width-expand@m uk-flex uk-flex-middle" data-uk-scrollspy="cls: uk-animation-slide-{{ if eq .layout "right" }}left{{ else }}right{{ end }}-medium; repeat: true">
					<div class="uk-card-content">
						{{ with .heading }}
						<h2 class="uk-h1 uk-margin-remove">{{ . }}</h2>
						{{ end }}
						{{ with .text }}
						<div class="uk-text-lead uk-margin-top">{{ . }}</div>
						{{ end }}
						{{ if .button.url }}
						<div class="uk-margin-medium-top"><a class="uk-button uk-button-medium uk-button-primary" href="{{ .button.url | relURL }}">{{ .button.text }}</a></div>
						{{ end }}
					</div>
				</div>
				<div class="uk-width-1-2@m uk-width-card{{ if eq .layout "left" }} uk-flex-first@m{{ end }} uk-flex uk-flex-middle" data-uk-scrollspy="cls: uk-animation-slide-{{ if eq .layout "right" }}right{{ else }}left{{ end }}-medium; repeat: true">
					<div class="uk-card-image uk-position-relative">
						
						{{ if .video }}
						{{- $icon := resources.Get "images/icon-play.svg" -}}
						<div class="uk-scale">
							<div class="uk-inline">
								<img class="uk-box-shadow-medium" src="{{ .image | absURL }}" alt="{{ .heading }}" width="680">
								<div class="uk-position-cover uk-overlay uk-overlay-light"></div>
								<div class="uk-position-center">
									<img src="{{ $icon.Permalink }}" alt="play" height="216" width="216"></a>
								</div>
							</div>
							<a class="uk-position-cover" href="#modal-video" data-uk-toggle></a>
						</div>
						{{ else }}
						<img class="uk-box-shadow-medium" src="{{ .image | absURL }}" alt="{{ .heading }}" width="680">
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ if .video }}
<div id="modal-video" class="uk-flex-top" data-uk-modal>
	<div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
		<button class="uk-modal-close-outside" type="button" data-uk-close></button>
		<iframe src="https://www.youtube-nocookie.com/embed/{{ .video }}" width="1120" height="630" frameborder="0" data-uk-video data-uk-responsive></iframe>
	</div>
</div>
{{ end }}