<section class="uk-section-xxl uk-section-{{ .background }}">
  <div class="uk-container uk-container-xsmall">
    {{ with .subheading }}
      <div class="uk-text-primary uk-text-uppercase uk-text-medium uk-margin-xxs-bottom uk-text-center">{{ . }}</div>
    {{ end }}
    {{ with .heading }}
      <h2 class="uk-heading-small uk-margin-remove uk-text-semi-bold uk-text-center">{{ . }}</h2>
    {{ end }}
    {{ with .text }}
      <div class="uk-text-size-m uk-margin-xxs-top uk-text-center">{{ . }}</div>
    {{ end }}
  </div>
  <div class="uk-container uk-margin-xl-top">
    <div class="uk-grid-small uk-child-width-1-3@m uk-grid-match" data-uk-grid>
      {{ range .cards }}
        <div>
          <div class="uk-card-block-card uk-box-shadow-hover-large uk-flex uk-flex-column uk-position-relative">
            {{ if .icon }}
              <img src="{{ .icon | absURL }}" alt="{{ .heading }}" width="48" height="48">
            {{ end }}
            {{ with .heading }}
              <h3 class="uk-margin-s-top uk-text-semi-bold uk-text-uppercase uk-text-size-m">{{ . }}</h3>
            {{ end }}
            {{ with .text }}
              <div class="uk-text-size-m uk-margin-xl-bottom">{{ . }}</div>
            {{ end }}            
            {{ if .list }}
              <ul class="uk-list uk-list-disc uk-margin-xl-bottom uk-text-size-m uk-margin-remove-top">
                {{ range .list }}
                  <li>{{ . }}</li>
                {{ end }}
              </ul>
            {{ end }}
            {{ if or .link .link_2 }}
              <div class="uk-child-width-auto uk-margin-auto-top" data-uk-grid>
                {{ if .link }}
                  <div><span class="uk-button uk-button-link">{{ .link }}</span></div>
                {{ end }}
                {{ if .link_2 }}
                  <div><span class="uk-button uk-button-link">{{ .link_2 }}</span></div>
                {{ end }}
              </div>
            {{ end }}
            <a href="{{ .url | relURL }}" class="uk-position-cover"></a>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>