<section class="uk-section-large uk-section-features uk-section-{{ .background }}">
  <div class="uk-container uk-text-center">
    {{ if or .heading .text }}
      <div class="uk-margin-large-bottom uk-flex-center uk-flex" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
        <div class="uk-width-3-4@m uk-width-1-2@l">
          {{ with .heading }}
            <h2 class="uk-h1 uk-margin-remove">{{ . }}</h2>
          {{ end }}
          {{ with .text }}
            <div class="uk-text-lead uk-margin-top">{{ . }}</div>
          {{ end }}
        </div>
      </div>
    {{ end }}
    <div class="uk-child-width-1-{{ .columns }}@m uk-flex uk-flex-center" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200">
      {{ range .images }}
        <div class="uk-text-center">
          <img src="{{ . | absURL }}" alt="Image">
        </div>    
      {{ end }}       
    </div>
  </div>
</section>