<section class="uk-section-large uk-section-{{ .background }}  {{.padding}}">
  <div class="uk-container">
    {{ if or .heading .text }}
      <div class="uk-text-center uk-margin-medium-bottom uk-flex-center uk-flex uk-text-center" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
        <div class="uk-width-3-4@m">
          {{ with .heading }}
            <h2 class="uk-h1 uk-margin-remove">{{ . }}</h2>
          {{ end }}
          {{ with .text }}
            <div class="uk-text-lead uk-margin-top">{{ . }}</div>
          {{ end }}
        </div>
      </div>
    {{ end }}
    <div class="uk-child-width-1-2@m uk-flex uk-flex-center uk-margin-large-top uk-grid-match" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200">
      {{ range .links }}
        <div>
          <div class="uk-card uk-card-small uk-card-body uk-card-primary uk-position-relative uk-box-shadow-hover-large uk-border-rounded-large">
            <div class="uk-grid-small" data-uk-grid>
              <div class="uk-width-auto uk-flex uk-flex-middle">
                <span class="uk-margin-small-right" data-uk-icon="icon: {{ .icon | default "file-text" }}; ratio: 2.4"></span>
              </div>
              <div class="uk-width-expand uk-flex uk-flex-middle">
                <h4 class="uk-margin-xsmall-bottom uk-text-primary">{{ .heading }}</h4>
                <!-- <div class="uk-text-smaller">{{ .text }}</div> -->
              </div>
              <div class="uk-width-auto uk-flex uk-flex-middle"><span class="uk-margin-small-right" data-uk-icon="icon: chevron-right; ratio: 1.5"></span></div>
            </div>
            {{if .download_url}}
              <a class="uk-position-cover" href="{{ .download_url }}" download></a>
            {{else}}
              <a class="uk-position-cover" href="{{ .url | relURL }}"></a>
            {{end}}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>

