<section class="uk-section-large uk-section-{{ .background }}">
  <div class="uk-container">
    {{ if or .heading .text }}
      <div class="uk-text-center uk-margin-medium-bottom uk-flex-center uk-flex uk-text-center" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
        <div class="uk-width-3-4@m">
          {{ with .heading }}
            <h2 class="uk-h1 uk-margin-remove">{{ . }}</h2>
          {{ end }}
          {{ with .text }}
            <div class="uk-text-lead uk-margin-top">{{ . }}</div>
          {{ end }}
        </div>
      </div>
    {{ end }}
    <div class="uk-child-width-1-2@m uk-flex uk-flex-center uk-margin-large-top uk-grid-match" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200">
      {{ range .links }}
        {{ $text := newScratch }}
        {{ $text.Set "text" .text }}
        {{ range first 1 (where site.RegularPages ".File.LogicalName" "in" (path.Base .page)) }}
          <div>
            <div class="uk-card uk-card-small uk-card-body uk-card-primary uk-position-relative uk-box-shadow-hover-large uk-border-rounded">
              <div class="uk-grid-small" data-uk-grid>
                <div class="uk-width-expand">
                  <h3 class="uk-margin-small-bottom uk-text-primary">{{ .Title }}</h3>
                  <div>{{ $text.Get "text" }}</div>
                  <a class="uk-position-cover" href="{{ .Permalink }}"></a>
                </div>
                <div class="uk-width-auto uk-flex uk-flex-middle"><span data-uk-icon="icon: chevron-right; ratio: 1.25"></span></div>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>

