<div class="uk-container uk-margin-large-top uk-margin-medium-bottom uk-text-center" style="min-height: 200px;text-align: center !important;">
<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>
  // diffrenet script for english version
  if (window.location?.href.includes("/en/")) {
    hbspt.forms.create({
      region: "eu1",
      portalId: "25972470",
      formId: "5c5513f8-6e38-4089-ba40-361f4c937eec"
    });
  } else {
    hbspt.forms.create({
      region: "eu1",
      portalId: "25972470",
      formId: "b7708923-64ed-4fb5-a815-51b463a9e921"
    });
  }
</script>
</div>