<section class="uk-section-large uk-section-{{ .background }}">
  <div class="uk-container uk-text-center">
    {{ if or .heading .text }}
      <div class="uk-margin-large-bottom uk-flex-center uk-flex" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
        <div class="uk-width-3-4@m">
          {{ with .heading }}
            <h2 class="uk-h1 uk-margin-remove">{{ . }}</h2>
          {{ end }}
          {{ with .text }}
            <div class="uk-text-lead uk-margin-top">{{ . }}</div>
          {{ end }}
        </div>
      </div>
    {{ end }}
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match uk-flex uk-flex-center" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200">
      {{ range site.Data.authors }}
        {{ if .team_member }}
          <div>
            <div class="uk-card uk-card-secondary uk-border-rounded-large uk-box-shadow-small">
              {{ if .team_image }}
                <div class="uk-card-media-top">
                  <img class="uk-border-rounded-large-top" src="{{ .team_image | absURL }}" alt="{{ .name }}">
                </div>
              {{ end }}
              <div class="uk-card-body">
                {{ with .name }}
                <h3 class="uk-text-uppercase uk-text-spacing-small uk-margin-remove">{{ . }}</h3>
                {{ end }}
                {{ if .title }}
                <div class="uk-margin-small-top">{{ index .title site.Language.Lang }}</div>
                {{ end }} 
                {{ if .bio }}
                <hr class="uk-margin-m-top">
                <div class="uk-margin-m-top">{{ index .bio site.Language.Lang }}</div>
                {{ end }} 
                <div class="uk-grid-small uk-child-width-auto uk-margin-m-top uk-flex uk-flex-center" data-uk-grid>
                  {{ if .website }}
                    <div><a class="uk-team-social" href="{{ .website }}" target="_blank"><span data-uk-icon="ratio:1.2; icon: world"></span></a></div>
                  {{ end }}
                  {{ if .linkedin }}
                    <div><a class="uk-team-social" href="{{ .linkedin }}" target="_blank"><span data-uk-icon="ratio:1.2; icon: linkedin"></span></a></div>
                  {{ end }}
                  {{ if .github }}
                    <div><a class="uk-team-social" href="{{ .github }}" target="_blank"><span data-uk-icon="ratio:1.2; icon: github"></span></a></div>
                  {{ end }}
                  {{ if .twitter }}
                    <div><a class="uk-team-social" href="{{ .twitter }}" target="_blank"><span data-uk-icon="ratio:1.2; icon: twitter"></span></a></div>
                  {{ end }}
                  {{ if .mail }}
                    <div><a class="uk-team-social" href="mailto:{{ .mail }}" target="_blank"><span>
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="mail-icon" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
                        <g transform="translate(128 128) scale(0.72 0.72)" style="">
                          <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
                          <path d="M 45 51.815 l 45 -33.87 v -1.967 c 0 -2.03 -1.646 -3.676 -3.676 -3.676 H 3.676 C 1.646 12.302 0 13.948 0 15.978 v 1.967 L 45 51.815 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                          <path d="M 47.405 60.019 c -0.712 0.536 -1.559 0.804 -2.405 0.804 s -1.693 -0.268 -2.405 -0.804 L 0 27.958 v 46.064 c 0 2.03 1.646 3.676 3.676 3.676 h 82.648 c 2.03 0 3.676 -1.646 3.676 -3.676 V 27.958 L 47.405 60.019 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        </g>
                        </g>
                        </svg>
                    </span></a></div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>   
        {{ end }}    
      {{ end }}       
    </div>
  </div>
</section>