<section class="uk-section uk-section-muted">
  <div class="uk-container">
    {{ if or .heading .text }}
      <div class="uk-margin-large-bottom uk-flex-center uk-flex uk-text-center" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100">
        <div class="uk-width-3-4@m">
          {{ with .heading }}
            <h2 class="uk-h1 uk-margin-remove">{{ . }}</h2>
          {{ end }}
          {{ with .text }}
            <div class="uk-text-lead uk-margin-top">{{ . }}</div>
          {{ end }}
        </div>
      </div>
    {{ end }}
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match uk-flex uk-flex-center uk-flex-left@m" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200" data-uk-lightbox>
      {{ range site.Data.videos }}
        <div>
          <div class="uk-card uk-card-default uk-border-rounded-large uk-postion-relative uk-box-shadow-hover-large">
            <div class="uk-card-media-top">
              <img class="uk-border-rounded-large-top" src="{{ .image | absURL }}" alt="{{ index .title site.Language.Lang }}">
            </div>
            <div class="uk-card-body">
              <h3 class="uk-margin-small-bottom">{{ index .title site.Language.Lang }}</h3>
              <div>{{ index .text site.Language.Lang }}</div>
            </div>
            {{if eq site.Language.Lang "de"}}
              <a class="uk-position-cover" href="https://vimeo.com/{{ .vimeoDe }}&muted=1" data-attrs="width: 1280;" data-caption="{{ index .title site.Language.Lang }}"></a>
            {{ end }}
            {{if eq site.Language.Lang "en"}}
              <a class="uk-position-cover" href="https://vimeo.com/{{ .vimeoEn }}&muted=1" data-attrs="width: 1280;" data-caption="{{ index .title site.Language.Lang }}"></a>
            {{ end }}
            </div>
        </div>
      {{ end }}       
    </div>
  </div>
</section>