{{ define "main" }}
<section class="uk-section" style="padding-top: 10px;">

    <section class="jumbotron text-center uk-padding-medium reference-header">
        <div class="uk-container">
            <h5 class="uk-text-uppercase uk-text-spacing-small">{{ i18n "reference" }}</h5>
            {{ with .Title }}
            <h1 class="font-48 font-weight-600">{{ . }}</h1>
            {{ end }}
            {{ with .Summary }}
            <h4 class="uk-margin-remove-top font-20 font-weight-400">{{ . }}</h4>
            {{ end }}
        </div>
    </section>

    <section class="reference-bg">
        <div style="background-image: url('{{ .Params.image }}');"></div>
    </section>

    <section class="jumbotron">
        <div class="reference-information">
            <section class="rf-information uk-container">
                <h2>Allgemeine Informationen</h2>
                {{ if .Params.information }}
                    <div>
                        <h6>Client: </h6> 
                        <span>{{ index .Params.information 0 }}</span>
                    </div>
                    <div>
                        <h6>Period of time: </h6> 
                        <span>{{ index .Params.information 1 }}</span>
                    </div>
                    <div>
                        <h6>Contact person: </h6> 
                        <span>{{ index .Params.information 2 }}</span>
                    </div>
                {{ end }}
            </section>
            <section>
                <h2>Planning Cases</h2>
                {{ if .Params.planning_cases }}
                    <ul class="rf-planning-cases">
                    {{ range .Params.planning_cases }}
                        <li>{{ . }}</li>
                    {{ end }}
                    </ul>
                {{ end }}
            </section>
        </div>
    </section>
    
    
    <div class="uk-container uk-margin-medium-top">
        <div class="uk-width-expand@l">
            <div class="uk-docs-content uk-position-relative">
                <div class="uk-article-content uk-text-m uk-margin-medium-top">
                    <section>
                        <h1>Overview</h1>
                        {{ .Params.overview }}
                    </section>
                    <br />
                    <div class="rf-slider uk-margin-medium-top">
                        {{ range $index, $element := .Params.slider_items }}
                            <li>
                                <img src="{{ $element.image }}" />
                                <div class="overlay uk-margin-small-top">
                                    <span>{{ $element.title }}</span>
                                </div>
                            </li>
                        {{end}}
                    </div>
                    <div class="rf-slider-mobile uk-margin-medium-top slideshow">
                        {{ range $index, $element := .Params.slider_items }}
                            <li class="slideshow__slide">
                                <img src="{{ $element.image }}" />
                                <div class="overlay uk-margin-small-top">
                                    <span>{{ $element.title }}</span>
                                </div>
                            </li>
                        {{end}}
                    </div>
                    <br />
                    <br />
                    <section class="uk-margin-medium-top">
                    {{ .Content }}
                    </section>
                </div>
            </div>
        </div>
    </div>

    <section class="uk-margin-large-top jumbotron">
        <div class="reference-quote-item uk-container">
            <img src="{{ .Params.review_image }}" width="250px" height="250px" />
            <div>
                <h4>{{ .Params.review_text }}</h4>
                <p>{{ .Params.review_person }}</p>
            </div>
        </div>
    </section>

    <section class="reference-goat-promotion uk-margin-large-top" style="background-image: url('{{ .Params.image }}');">
        <div class="reference-overlay-btn">
            <img src="/images/GOAT/GOAT_Logo_Single.png" />
            <a href="../../goat">
                <button type="submit" class="uk-button uk-button-primary">Get GOAT for your city</button>
            </a>
        </div>
    </section>

    <!-- <h2 class="text-center uk-margin-large-top">More references</h2> -->
    <!-- <div class="references-related uk-margin-medium-top uk-container">
        {{ range $index, $element := .Params.other_cities }}
            <a href="../{{ $element.name }}" class="no-style-link-scale">
                <div class="uk-card uk-card-default uk-border-rounded-large uk-postion-relative">
                  <div class="uk-card-media-top">
                    <img class="uk-border-rounded-large-top" src="{{ $element.image | absURL }}" alt="{{ $element.name }}">
                  </div>
                  <div class="uk-card-body">
                    <h4 class="uk-margin-small-bottom uk-text-primary">{{ $element.name }}</h4>
                    <div>{{ $element.description }}</div>
                  </div>
                </div>
            </a>
        {{end}}
    </div> -->
    <!-- <div class="rf-slider-mobile slideshow">
        {{ range $index, $element := .Params.other_cities }}
            <a href="../{{ $element.name }}" class="no-style-link-scale slideshow__slide">
                <div class="uk-card uk-card-default uk-border-rounded-large uk-postion-relative">
                    <div class="uk-card-media-top">
                        <img class="uk-border-rounded-large-top" src="{{ $element.image | absURL }}" alt="{{ $element.name }}">
                    </div>
                    <div class="uk-card-body">
                        <h4 class="uk-margin-small-bottom uk-text-primary">{{ $element.name }}</h4>
                        <p>{{ $element.description }}</p>
                    </div>
                </div>
            </a>
        {{end}}
    </div> -->

    <section class="uk-section-large">
        <div class="uk-container">
          <h2 class="uk-h1 uk-margin-remove-top uk-text-semi-bold uk-text-center">{{ i18n "related_posts" }}</h2>
          <div class="uk-child-width-1-2@s uk-child-width-1-3@l uk-grid-match uk-margin-medium-top uk-flex uk-flex-center uk-flex-left@s uk-block-posts-grid" data-uk-grid>
            {{ $posts := where site.RegularPages "Section" "references" }}
            {{ $posts_related := first 3 (where $posts "Title" "!=" .Title) }}
            {{ $section_count := len $posts_related }}
            {{ if ge $section_count 3 }}
              {{ range $posts_related }}
                 <div>{{ partial "card-post-partial.html" . }}</div>
              {{ end }}
            {{ else }}
              {{ range first 3 }}
                <div>{{ partial "card-post-partial.html" . }}</div>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </section>

</section>
{{ end }}